.hero{
    position: relative;
    height: 601px;
}
.bg-img{
    background-image: linear-gradient(86deg, #4E1D9A 0.81%, rgba(78, 29, 154, 0.88) 14.54%, rgba(78, 29, 154, 0.88) 107.09%, rgba(78, 29, 154, 0.00) 115.34%) ,url('/public/assets/hero-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 601px;
    background-color: aqua;
    flex-shrink: 0;
}

.hero-text{
    padding-left: 100px;
    display: flex;
    z-index: 1;
    position:absolute;
    bottom:0;
    top:0;
}

.hero-section{
    margin-top: 5rem!important;
}

.hero-person{
    width: 946px;
    height: 631px;
    background: url('/public/assets/hero-person.png');
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-top: -20px;
    position:absolute;
    right:0;
    top:0;
    margin-right: -60px !important;
}


h1{
    color: #FFF;
    font-weight: 700;
    line-height:46.8px;
}

.h1-other{
    color: #67E776;
    font-weight: 700;
    line-height:46.8px;
}

.hero-para{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.btn-course:focus,
.btn-course:active,
.btn-course:hover
{
    border-color: #ccc !important; /* Adjust the border color when the button is pressed */
    border-left-width: 3px;
    color: #333 !important; /* Adjust the text color when the button is pressed */
    transition: all 0.15s ease-in;
}

.btn-course::after {
    content: ''; /* Add an empty content pseudo-element */
    display: inline-block;
    width: 10px; /* Adjust the width to control the gap */
    margin-left: 35px;
}

.form-control-divider {
    position: absolute;
    height: 50%;
    width: 2px;
    background-color: #ccc;
    left: calc(50.7% + 3.1rem);
    top: 25%;
    z-index: 1;
}

.has-search .form-control {
    position: relative;
    padding-left: 3.2rem;
    height: 64px;
    z-index: 1;
  }


.has-search .form-control-icon {
    max-width:200px !important;
    position: absolute;
    z-index: 2;
    left: 1.5rem !important;
    top: 32px !important;
    transform: translateY(-50%);
    opacity: 0.7;
  }

  
  @media (max-width:1110px) {
    .search-area{
        flex-direction: column !important;
    }

    .has-search .form-control {
        width: 50%; /* Make the form-control take up full width */
        height: 64px !important;
        border-right: none; /* Remove the right border */
    }
    .btn-search {
        width: 100%; /* Make the btn-search take up full width */
        margin-top: 10px; /* Add some top margin for spacing */
        margin-right: 500px;
        margin-left: 0px;
        
    }
    .btn-search-box {
        margin-left:0 !important;
    }
    .btn-course {
        width: auto; /* Reset width to auto */
        margin-top: 0; /* Remove top margin */
        margin-right: 0px !important;
        padding-left:14px !important;
    }
    .btn-course::after {
        margin-left: 10px;
    }
    .form-control-divider{
        display: none;
    }
  }

@media (max-width:846px) {
    .hero-text{
        padding: 0 50px;
        width: 100%;
    }
}



@media (max-width: 426px) {
    .hero-text{
        padding: 0 25px;
    }
}

.btn-search{
    max-width: 117px !important;
    background: #67E776;
    height: 64px;
    border:none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.btn-search:hover{
    background: #49e65b;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.btn-search:focus{
    background: #2de642 !important;
    color: #000 !important;
}